.Container{
    width: 345px;
    height: 240px;
    font-family: 'Josefin Sans';
    text-align: center;
    background-color: white;
    border-bottom: 1px solid white;
}

.NumberBox{
    height: 180px;
    font-size: 170px;
    line-height: 240px;
    padding-bottom: 20px;
    color: #4d4d4d;
}

.ButtonContainer{
    display: flex;
}

.Button{
    padding-bottom: 2px;
    width: 50%;
    height: 40px;
    background-color:rgb(163,163,163);
    border: 1px solid white;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.Buttonplus{
    cursor: pointer;
    width: 50%;
    height: 40px;
    line-height: 40px;
    background-color:rgb(163,163,163);
    border: 1px solid white;
    color: white;
    font-size: 30px;
}