.SideBar{
    height: 100vh;
    max-height: 100vmin;
    width: 25.7%;
    background-color: #eee;
    z-index: 1;
    position: relative;
    
}
.SideBarItens{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card{
    display: flex;
}

.SideBarLogo{
    text-align: center;
    font-size: 110px;
    color: #f31515;
    text-shadow: 8px 8px #010101;
    font-family: Impact;
    letter-spacing: -2px;
    margin-bottom: 10px;
    padding-right: 8px;
} 

