.ContainerModal{
    position: absolute;
    top: 20%;
    left: 43%;
    background-color: #f31515;
    color: white;
    height: 318px;
    width: 345px;
    outline: 0;
}

.Title{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 30px;
    height: 32px;
    margin-top: 8px;
}

.OkButton{
    width: 345px;
    height: 40px;
    background-color: #f31515;
    color: white;
    border: 0px;
    font-family: 'Josefin Sans';
    text-align: center;
    font-size: 22px;
    padding-top: 6px;
    cursor: pointer;
}