.PlayerCard{
    margin: 5px;
    padding-top: 6px;
    float: left;
    text-align: center;
    background-color: #f31515;
    height: 228px;
    color: cornsilk;
    font-family: 'Josefin Sans';
    width: 170px;
    box-shadow: 2px 2px 10px rgb(31, 31, 31);
}
.PlayerCardName{
    font-size: 24px;
    line-height: 30px;
}
.PlayerCardLine{
    padding: 4px 0 0 4px;
    font-size: 17px;
    line-height: 24px;
    display: flex;
}
.PlayerStatus{
    width: 33%;
}

.PlayerCardSelected{
    border: 3px solid #4d4d4d;
    text-align: center;
    background-color: #f31515;
    height: 220px;
    color: cornsilk;
    font-family: 'Josefin Sans';
    width: 170px;
    
}