.PlayerCard{
    margin: 5px;
    float: left;
    text-align: center;
    background-color: #f31515;
    height: 232px;
    color: cornsilk;
    font-family: 'Roboto';
    width: 170px;
    box-shadow: 2px 2px 10px rgb(31, 31, 31);
}
.PlayerCardName{
    font-size: 24px;
}
.PlayerCardLine{
    display: flex;
}
.PlayerStatus{
    width: 33%;
}

.PlayerCardSelected{
    border: 3px solid #4d4d4d;
    text-align: center;
    background-color: #f31515;
    height: 220px;
    color: cornsilk;
    font-family: 'Roboto';
    width: 170px;
    
}